logic-app-v1/template/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_EventGrid_name": {
            "defaultValue": "EventGrid",
            "type": "String"
        },
        "connections_azureblob_2_externalid": {
            "defaultValue": "/subscriptions/cc0ecbfb-0faf-492d-8996-be21d0865ca6/resourceGroups/huidong/providers/Microsoft.Web/connections/azureblob-2",
            "type": "String"
        },
        "connections_outlook_1_externalid": {
            "defaultValue": "/subscriptions/cc0ecbfb-0faf-492d-8996-be21d0865ca6/resourceGroups/huidong/providers/Microsoft.Web/connections/outlook-1",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_EventGrid_name')]",
            "location": "eastus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_blob_is_added_or_modified_(properties_only)_(V2)": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "evaluatedRecurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "splitOn": "@triggerBody()",
                            "metadata": {
                                "JTJmc2J0ZXN0": "/sbtest"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/triggers/batch/onupdatedfile",
                                "queries": {
                                    "checkBothCreatedAndModifiedDateTime": false,
                                    "folderId": "JTJmc2J0ZXN0",
                                    "maxFileCount": 10
                                }
                            }
                        }
                    },
                    "actions": {
                        "Initialize_variable": {
                            "runAfter": {
                                "Initialize_variable_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "files",
                                        "type": "string",
                                        "value": "@{join(variables('array1'), '</br>')}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "array1",
                                        "type": "array",
                                        "value": [
                                            1,
                                            2,
                                            3,
                                            4
                                        ]
                                    }
                                ]
                            }
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>@{triggerBody()}<br>\n<br>\n@{triggerBody()?['Name']}<br>\n<br>\n@{triggerBody()?['LastModified']}<br>\n<br>\n@{variables('files')}</p>",
                                    "Subject": "New file added",
                                    "To": "huidongliu@microsoft.com"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['outlook']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[parameters('connections_azureblob_2_externalid')]",
                                "connectionName": "azureblob-2",
                                "id": "/subscriptions/cc0ecbfb-0faf-492d-8996-be21d0865ca6/providers/Microsoft.Web/locations/eastus/managedApis/azureblob"
                            },
                            "outlook": {
                                "connectionId": "[parameters('connections_outlook_1_externalid')]",
                                "connectionName": "outlook-1",
                                "id": "/subscriptions/cc0ecbfb-0faf-492d-8996-be21d0865ca6/providers/Microsoft.Web/locations/eastus/managedApis/outlook"
                            }
                        }
                    }
                }
            }
        }
    ]
}